@mixin flex-col-nowrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flex-col-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


@mixin flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@mixin flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}